*{
    margin: 0;
    padding: 0;
}

/* Home page styling */
.imglot1{
    width:100%;
    height: 100%;
    position: center;
    top: 100px;
    -webkit-background-size:cover;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), ;
    background-position:center center ;
    text-align: center;
}
.banner-area1{
    margin-top:-10%;
    font-weight: bolder;
    font-size:40px;
    text-transform: uppercase;
    text-align: center;
    color:rgb(32, 32, 32);
    text-shadow: 2px 2px 6px rgb(197, 197, 197);
}
.parge {
   text-align: center;
   width:30%;
   height: 40px;
   margin-top: auto;

}
.home-container{
    margin-top: -60px;
}

.left-col{
    /* background-color:#d9f8cc;  */
    width:25%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    text-align: center;
}

.right-col{
   /* background-color:#d9f8cc;   */
    width:25%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    text-align: center;
}

.center-col {
    /* background-color:#dddddd;  */
    width:25%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
  }

.home-container div{
    padding:2%;
    box-sizing: border-box;
}

.parkingpix {
    width:100%;
    padding-top: 15px;
}

.wrapper {
    text-align: center;
}

/* Home page styling ends here */

/* Parking page stylingstarts */

.vehicle_info{
    width:100%;
    padding-top: 20px;
    color:rgb(27, 1, 27);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 60px 40px;
 
}


/* parking page styling ends here */

/* profile page styling starts */
.profile-name {
    font-size:30px;
    color:black;
    padding-top:5%;
}
.task-button {
    
    margin-top: 5%;

    
}.task-button a {
    width:60%;
    margin-top: 1%;
    margin-left: 20%;
    
}


/* profile page styling ends here */

Tasks page styling starts
.tasks-contain {
    margin-top:20%;
   
}
 
.card-task{
    margin-top:10%;
    width: 50%;
   }

.table-task{
    margin-top: 3%;
    padding-left: 30%;
    padding-right: 30%;
}

/* nav */
.nav-wrapper {
    width:95%;
    padding-left: 5%;
}



/* Loggin style*/

.container{
    color:rgb(27, 1, 27);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 60px 40px;
}
.container{
    transition: 0.5s;
}
.container:hover{
    -webkit-box-shadow: 6px 5px 10px -2px rgba(34, 34, 34, 0.69); 
    box-shadow: 6px 5px 10px -2px rgba(39, 39, 39, 0.69);
}


h1{
   
    text-align: center;
    font-size: 2rem;
}

.form-group, .btn-block{
    margin-top: 20px;
}

.flashes h2{
    margin-top: 10%;
    font:10px;
      
}

/* Mobile dropdown */
.sidenav{
    margin-top: 7%;
}
.sidenav li{
    margin-top: 9%;
}

/*----------------------------*/

