{% extends "base.html" %}
{% block content %}

<div class="body1 banner-area">

  <img class="imglot1" src="static/images/parkinglot1.jpg" alt="">
</div>
  <h1 class="banner-area1"> You Want To Park Your Car? <br>
    <button class="parge col s12 btn-large pink darken-4 text-shadow"> <a class="linkme" href="{{ url_for('login') }}">Click Me</a>
      </button>

  </h1>

</div>

<div class="wrapper">
  <h2>Content Area</h2>
</div>
<div class="home-container">
  <div class="left-col">
    <h1>Parking Lot 1</h1>
    <p>Parking your car or vehicle here is free with no restriction of any kind. But the safety of our customer
      properties/vehicle is on you.
      <img class="parkingpix" src="static/images/parkinglot1.jpg" alt="">
    </p>
  </div>
  <div class="center-col">
    <h1>Parking Lot 2</h1>
    <p>Parking your car or vehicle here is free with no restriction of any kind. But the safety of our customer
      properties/vehicle is on you.
      <img class="parkingpix" src="static/images/parkinglot2.jpg" alt="">
    </p>
  </div>
  <div class="right-col">
    <h1>Parking Lot 3</h1>
    <p>Parking your car or vehicle here is free with no restriction of any kind. But the safety of our customer
      properties/vehicle is on you.
      <img class="parkingpix" src="static/images/parkinglot3i.jpg" alt="">
    </p>
  </div>


  {% endblock%}
