{% extends "base.html" %}
{% block content %}




<div class="body1 banner-area">

  <img class="imglot1" src="static/images/parkinglot1.jpg" alt="">

</div>
<h1 class="banner-area1">
  You Want To Park Your Car?
</h1>
<div class="d-grid gap-2  col-6 mx-auto">

  <button class="btn btn-primary" type="button">Click Me</button>
</div>


  <div >
    <img class="highway" src="static/images/road.png" alt="">
    <img class="city" src="static/images/city.jpg" alt="">
  </div>
  <div >
    
    

  </div>

</div>




{% endblock%}