{% extends "base.html" %}
{% block content %}

<div class="container">
    <img src="static/images/avatar.png" class="avatar" alt="">
    <h1>Login Here</h1>
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <form method=POST action="{{url_for('login') }}">
                <div class="form-group">
                    <label for="exampleInputUsername">Username</label>
                    <input type="text"class="form-control" name="username" placeholder="Username"  minilength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                </div>

                <div class="form-group" >
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password"class="form-control" name="pass" placeholder="Password"  minilength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                </div>

                <button type="submit" class="btn-primary btn-block col-md-12" >Log In</button>

            </form>
            <br>
           <div>
               Don't have an account? <a href="{{ url_for('register') }} ">Sign Up Here</a>
           </div>
        </div>

    </div>

</div>
{% endblock%}