{% extends "base.html" %}
{% block content %}


<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align light-blue-text text-darken-4">
        {{ username }}'s profile
      </h3>
    </div>

  </div>

</div>


<!-- input car information-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="container2">
      <h1>Example Headline</h1>
      <a href="" class="btn btn-lg btn-primary">Click Me</a>

    </div>

  </div>
  <div class="carousel-item active">
    <div class="container2">
      <h1>Example Headline</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt expedita ipsa magni error maiores dolorum,
        facilis veniam accusamus rem reiciendis dignissimos nulla deleniti autem a? Iusto aperiam nihil quidem!
        Cupiditate!</p>
      <a href="" class="btn btn-lg btn-primary">Click Me</a>

    </div>

  </div>
</div>
</div>



{% endblock%}