{% extends "base.html" %}
{% block content %}
<!-- Registration form-->
<div class="container">
    <img src="static/images/avatar.png" class="avatar" alt="">
       <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <form method="POST" action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="exampleInputUsername">Username</label>
                    <input type="text"class="form-control" name="username" placeholder="Username" minilength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail">Email Address</label>
                    <input type="text"class="form-control" name="emailaddress" placeholder="Email Address" class="validate" required>
                </div>

                <div class="form-group" >
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password"class="form-control" name="pass" placeholder="Password" minilength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                </div>

                <button type="submit" class="btn-primary btn-block col-md-12" >Register</button>

            </form>
            <br>
          
        </div>

    </div>

</div>
{% endblock%}