{% extends "base.html" %}
{% block content %}

<div class="tasks-contain">
    <div>
        <img class="tasks-background" src="" alt="">
    </div>

    <div class="tasks-container">

        {% for task in vehicleinfo %}
        <p class="" href="{{ url_for('tasks') }}" >
            <h1>LOT = {{ task.lot }}</h1>
            <h1>VEHICLE = {{ task.vehicle }}</h1>
            <h1>VEHICLE MODEL = {{ task.model }}</h1>
            <h1>YEAR = {{ task.year }}</h1>

            <h1>COLOR = {{ task.color }}</h1>
        </p>
        {% endfor %}

    </div>

    <h1>We Thank You</h1>
</div>

{% endblock%}